/*Header*/

.header-title-course {
    font-weight: 700;
    margin-top: 30px;
    font-size: 60px;
    color: white;
    text-shadow: #fc73da 1px 0 20px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}


.subtitle {
    font-weight: 400;
    margin-top: 40px;
    font-size: 20px;
    color: white;
    letter-spacing: 2px;
}

/*Form*/

.input-container {
    position: relative;
    margin-top: 50px;
    width: 300px;
}

.input-container input[type="text"] {
    font-size: 20px;
    width: 150%;
    border: none;
    border-bottom: 3px solid #ffffff;
    color: white;
    padding: 15px 0;
    background-color: transparent;
    outline: none;
}

.input-container .label {
    position: absolute;
    top: 0;
    left: 0;
    color: #ffffff;
    transition: all 0.3s ease;
    pointer-events: none;
}

.input-container input[type="text"]:focus ~ .label,
.input-container input[type="text"]:valid ~ .label {
    top: -40px;
    font-size: 20px;
    color: #fc73da;
    font-weight: 800;
}

.input-container .underline {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 150%;
    background-color: #fc73da;
    transform: scaleX(0);
    transition: all 0.3s ease;
}

.input-container input[type="text"]:focus ~ .underline,
.input-container input[type="text"]:valid ~ .underline {
    transform: scaleX(1);
}

.label {
    font-size: 20px;
    font-weight: 800;
    color: white;
}

.label-container {
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 2px;
    color: white;
    padding-top: 30px;
}

input[type="checkbox"] {
    border: #fff;
    font: inherit;
    width: 1em;
    height: 1.15em;
    border: 0.15em solid currentColor;
    border-radius: 0.5em;
    padding-top: 40px;
    transform: translateY(-0.075em);
}

/*Button*/

.submit-button {
    display: inline-block;
    position: relative;
    left: 45%;
    padding-top: 240px;
    margin-right: 1060px;
    margin-left: -310px;
    transform: translate(-50%, -50%);
}

.submit-button a {
    display: block;
    text-shadow: #fc73da 3px 0 10px;
    font-size: 24px;
    font-family: sans-serif;
    text-decoration: none;
    color: white;
    border-top: 2px solid #fc73da;
    border-bottom: 2px solid #fc73da;
    padding: 10px;
    letter-spacing: 2px;
    transition: all .25s;
}

.submit-button a:hover {
    letter-spacing: 5px;
}