/*Header*/

.header {
    background-image: url('../../assets/main_info_pages/main/main-page.png');
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.header-line {
    padding-top: 15px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav-item {
    color: #000;
    text-decoration: none;
    font-weight: 400;
    font-size: 20px;
    margin-right: 80px;

    transition: color 0.3s linear;
}

.nav-item:hover {
    color: #fc73da
}

.auth {
    position: absolute;
    top: 18px;
    right: 300px
}

/*Main*/

.header-title {
    margin-top: -600px;
    text-align: left;
    margin-left: 55px;
    font-weight: 800;
    display: flex;
    font-size: 50px;

    color: #000000;
}

.header-down {
    position: relative;
}

.header-subtitle {
    margin-top: -300px;
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-align: left;
    position: absolute;
    padding-top: 300px;
    left: 55px;
    color: gray;
    display: flex;
}

.header-price {
    margin-top: -260px;
    font-weight: 300;
    font-size: 25px;
    text-align: center;
    position: absolute;
    padding-top: 400px;
    left: 100px;
}

/*Button*/

button {
    margin-top: 150px;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    position: absolute;
    border: none;
    color: #fff;
    width: 15em;
    height: 3em;
    line-height: 2em;
    text-align: center;
    background: linear-gradient(90deg,#03a9f4,#f441a5,#ffeb3b,#03a9f4);
    background-size: 300%;
    border-radius: 30px;
    z-index: 1;
    left: 550px;
}

button:hover {
    animation: ani 8s linear infinite;
    border: none;
}

@keyframes ani {
    0% {
        background-position: 0%;
    }

    100% {
        background-position: 400%;
    }
}

button:before {
    content: '';
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    z-index: -1;
    background: linear-gradient(90deg,#03a9f4,#f441a5,#ffeb3b,#03a9f4);
    background-size: 400%;
    border-radius: 35px;
    transition: 1s;
}

button:hover::before {
    filter: blur(10px);
}