/*Slider*/

.slider-container {
    background: transparent;
    margin-top: 70px;
    margin-left: 80px;
    display: flex;
    align-items: center;
    width: 1200px;
    height: 600px;
    overflow: hidden;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
}

.slider-wrapper {
    width: 100%;
    display: flex;
    transition: all 0.5s ease-in-out;
}

.slider-prev,
.slider-next {
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.slider-prev {
    left: 6px;
}

.slider-next {
    right: 6px;
}

.arrow {
    height: 20px;
    width: 20px;
    border: 1px solid #ffffff;
    border-width: 4px 4px 0 0;
    transform: rotate(45deg);
}

.left {
    transform: rotate(225deg);
}

/*Card*/

.slider-item {
    width: 350px;
    margin-left: 25px;
    margin-right: 25px;
    height: 480px;
    border-radius: 30px;
    background: #ffff;
    box-shadow: 2px 2px 20px #F158F4;
    flex-shrink: 0;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}

.card {
    width: 350px;
    height: 480px;
    border-radius: 30px;
    background: #ffff;
    box-shadow: 2px 2px 30px #F158F4;
    margin-top: 130px;
    display: inline-block
}

.card-wrapper {
    justify-content: space-between;
    align-items: center;
    display: inline-block
}

.title-card {
    font-size: 18px;
    font-weight: 700;
    text-align: left;
    padding-top: 20px;
    padding-left: 30px;
}

.subtitle-card {
    font-size: 14px;
    font-weight: 300;
    font-family: 'Rubik', serif;
    text-align: left;
    padding-top: 10px;
    padding-left: 30px;
}

.line-price {
    display: flex;
    align-items: center;
    padding-top: 10px;
}

.card-content {
    display: flex;
    flex-direction: column;
}

.slide-content {
    justify-content: space-around;
}

.price {
    font-size: 22px;
    font-weight: 700;
    padding-left: 30px;
    margin-top: 30px;
    color: #D425E2;
}

.header-container {
    margin-top: 20px;
    margin-left: 15px;
    cursor: pointer;
}

.subtitle-shop {
    padding-top: 20px;
    padding-left: 270px;
    font-size: 20px;
}