@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&family=Rubik+Mono+One&family=Rubik:wght@300&display=swap');

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-image: url('assets/shop-page.png');
    height: 100vh;
    background-repeat: no-repeat;
    background-size: contain;
}

.container {
    margin: 0 166px;
}

.header {
    font-weight: 700;
    margin-top: 30px;
    font-size: 40px;
    color: white;
}

.card {
    width: 350px;
    height: 480px;
    border-radius: 30px;
    background: #ffff;
    box-shadow: 3px 3px 30px #F158F4;
    margin-top: 130px;
    display: inline-block
}

.card-wrapper {
    justify-content: space-around;
    align-items: center;
    display: inline-block
}

.picture {
    padding-top: 20px;
    padding-left: 60px;
}

.title-card {
    font-size: 18px;
    font-weight: 700;
    text-align: left;
    padding-top: 20px;
    padding-left: 60px;
}

.subtitle-card {
    font-size: 14px;
    font-weight: 300;
    font-family: 'Rubik', serif;
    text-align: left;
    padding-top: 10px;
    padding-left: 60px;
}

.line-price {
    display: flex;
    align-items: center;
    padding-top: 20px;
}

.card-content {
    display: flex;
    flex-direction: column;
}

.slide-content {
    justify-content: space-around;
}

.price {
    font-size: 22px;
    font-weight: 700;
    padding-left: 60px;
    color: #D425E2;
}

.joistick {
    margin-left: 120px;
}