<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shop</title>
    <link rel="stylesheet" href="../static/css/cart.css">
    <link rel="stylesheet" href="../static/css/base.css">
    <link href="https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="../assets/general/logo.png" type="image/png">
</head>
<body>
    <header>
        <div class = "nav container">
            <a href="main.html" class="logo">Compics</a>
            <i class="bx bx-shopping-bag" id="cart-icon"></i>
            <div class="cart">
                <h2 class="cart-title">Your Cart</h2>
                <div class="cart-content"></div>
                <div class="total">
                    <div class="total-title">Total</div>
                    <div class="total-price">0$</div>
                </div>
                <button type="button" class="btn-buy">Buy Now</button>
                <i class="bx bx-x" id="close-cart"></i>
            </div>
        </div>
    </header>
    <section class="shop container">
        <div class="shop-content">
            <div class="product-box">
                <img src="../assets/shop/products/videocart.png" alt="" class="product-img">
                <h2 class="product-title">
                    GeForce graphics card
                    RTX 3090</h2>
                <span class="price">3500$</span>
                <i class="bx bx-shopping-bag add-cart" ></i>
            </div>
            <div class="product-box">
                <img src="../assets/shop/products/monitor.png" alt="" class="product-img">
                <h2 class="product-title">
                    Gaming Monitor
                    Dell Alienware</h2>
                <span class="price">1400$</span>
                <i class="bx bx-shopping-bag add-cart" ></i>
            </div>
            <div class="product-box">
                <img src="../assets/shop/products/earpods.png" alt="" class="product-img">
                <h2 class="product-title">
                    Headphones Razer Kraken
                    kitty</h2>
                <span class="price">300$</span>
                <i class="bx bx-shopping-bag add-cart"></i>
            </div>
            <div class="product-box">
                <img src="../assets/shop/products/mouse.png" alt="" class="product-img">
                <h2 class="product-title">Razor DeathAdder mouse</h2>
                <span class="price">120$</span>
                <i class="bx bx-shopping-bag add-cart" ></i>
            </div>
            <div class="product-box">
                <img src="../assets/shop/products/sys_block.png" alt="" class="product-img">
                <h2 class="product-title">nzxt h510 elite Frame</h2>
                <span class="price">250$</span>
                <i class="bx bx-shopping-bag add-cart" ></i>
            </div>
            <div class="product-box">
                <img src="../assets/shop/products/micro.png" alt="" class="product-img">
                <h2 class="product-title">razer v2 pro</h2>
                <span class="price">200$</span>
                <i class="bx bx-shopping-bag add-cart" ></i>
            </div>
            <div class="product-box">
                <img src="../assets/shop/products/joistik.png" alt="" class="product-img">
                <h2 class="product-title">xbox controller</h2>
                <span class="price">250$</span>
                <i class="bx bx-shopping-bag add-cart" ></i>
            </div>
            <div class="product-box">
                <img src="../assets/shop/products/colonki.png" alt="" class="product-img">
                <h2 class="product-title">system EDIFIER</h2>
                <span class="price">300$</span>
                <i class="bx bx-shopping-bag add-cart" ></i>
            </div>
            <div class="product-box">
                <img src="../assets/shop/products/keyboard.png" alt="" class="product-img">
                <h2 class="product-title">razer keyboard</h2>
                <span class="price">350$</span>
                <i class="bx bx-shopping-bag add-cart" ></i>
            </div>
            <div class="product-box">
                <img src="../assets/shop/products/course.png" alt="" class="product-img">
                <h2 class="product-title">Course</h2>
                <span class="price">200$</span>
                <i class="bx bx-shopping-bag add-cart" ></i>
            </div>
        </div>
    </section>
</body>
<script src="../static/js/cart.js"></script>
</html>