<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="../css/course.css">
  <title>Course</title>
  <link rel="shortcut icon" href="./assets/logo.png" type="image/png">
</head>
<body>
<div class="container">
  <div class="header">
    Registration for the course
  </div>
  <div class="subtitle">
    We offer you an excellent opportunity to dive<br>
    into the world of computer technology and <b>personally</b><br>
    build your computer!
  </div>
  <div class="input-container">
    <input type="text" id="input" required="">
    <label for="input" class="label">Enter name</label>
    <div class="underline"></div>
  </div>
  <div class="input-container">
    <input type="text" id="input" required="">
    <label for="input" class="label">Enter e-mail</label>
    <div class="underline"></div>
  </div>
  <div class="label-container">
  <label>
    <input type="checkbox" name="agree" value="yes">    I agree to the processing of my personal data
  </label>
  </div>
  <div class="label-container">
  <label>
    <input type="checkbox" name="accept" value="yes">   I accept the privacy policy
  </label>
  </div>

</div>
</body>
</html>