<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/main.css">
    <title>Compics</title>
    <link rel="shortcut icon" href="../assets/general/logo.png" type="image/png">
</head>
<body>
<div class="page">
    <header class="header">
      <div class="container">
        <div class="header-line">
          <div class="header-logo">
            <img src="../assets/general/logotype.svg" alt="">
          </div>
              <div class="nav">
                <a class="nav-item" href="">Information</a>
                <a class="nav-item" href="">Accessories</a>
                <a class="nav-item" href="">Course</a>
                <a class="nav-item" href="">Contacts</a>
              </div>
            <div class="auth">
                <a href="#">
                    <img src="../assets/main_info_pages/main/user.png" alt="">
                </a>
            </div>
            <div class="cart">
                <a href="#">
                    <img src="../assets/main_info_pages/main/cart.png" alt="">
                </a>
            </div>
        </div>
      </div>
    </header>

    <main class="main">
        <section class="main-page">
        <div class="container">
            <div class="header-down">
                <h1 class="header-title">
                    BUILD A GAMING<br>COMPUTER AND<br>FORGET ABOUT 30 FPS!
                </h1>
                <h2 class="header-subtitle">
                    The key to a pleasant game is not only in adequate teammates,<br> but also in the
                    quality of your equipment.<br>Who can withstand a ping above 100?
                </h2>
                <p class="header-price">
                    Collect the dream<br>for only  <span style="color: #fc73da; font-weight: 800">$5000</span>
                </p>
            </div>
            <button>
                <span style="font-weight: 600; font-size:20px">Order now </span>
            </button>
        </div>
        </section>
        <section class="info-page">
        </section>
    </main>

    <footer class="footer">
        <div class="container">
            <div class="footer-line">
                <div class="header-logo">
                    <img src="../assets/general/logotype.svg" alt="">
                </div>
                <p class="info">2023 Ⓒ Minks, Belarus</p>
                <nav class="footer__menu">
                    <ul class="footer__menu-list">
                        <li class="telegram">
                            <a class="footer__menu-title" href="">Telegram</a>
                        </li>
                        <li class="instagram">
                            <a class="footer__menu-title" href="">Instagram</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </footer>

</div>
</body>
<script src="../js/shop.js"></script>
</html>