<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/shop.css">
    <title>Accessories</title>
    <link rel="shortcut icon" href="../assets/general/logo.png" type="image/png">
</head>
<body>
<div class="page">
    <header class="header">
        Accessories shop
    </header>
    <main class="main">
        <div class="container">
            <div class="slider-container">
                <div class="slider-wrapper">
                    <div class="slider-item">
                        <div class="card-content">
                            <div class="picture">
                                <img src="../assets/shop/monitor.png" alt="">
                            </div>
                            <div class="title-card">
                                Gaming monitor<br>Dell Alienware
                            </div>
                            <div class="subtitle-card">
                                Image smoothness, lightning fast<br>
                                matrix response time
                            </div>
                            <div class="line-price">
                                <div class="price">1 400 $</div>
                                <a class="joistick" href="">
                                    <img src="../assets/shop/joistick.png" alt="">
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="slider-item">
                        <div class="card-content">
                            <div class="picture">
                                <img src="../assets/shop/monitor.png" alt="">
                            </div>
                            <div class="title-card">
                                Gaming monitor<br>Dell Alienware
                            </div>
                            <div class="subtitle-card">
                                Image smoothness, lightning fast<br>
                                matrix response time
                            </div>
                            <div class="line-price">
                                <div class="price">1 400 $</div>
                                <a class="joistick" href="">
                                    <img src="../assets/shop/joistick.png" alt="">
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="slider-item">
                        <div class="card-content">
                            <div class="picture">
                                <img src="../assets/shop/earpods.png" alt="">
                            </div>
                            <div class="title-card">
                                Headphones Razer Kraken<br>Kitty Edition
                            </div>
                            <div class="subtitle-card">
                                Good sound, convenient software,<br>
                                appearance, microphone freely regulates
                            </div>
                            <div class="line-price">
                                <div class="price">300 $</div>
                                <a class="joistick" href="">
                                    <img src="../assets/shop/joistick.png" alt="">
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="slider-item">
                        <div class="card-content">
                            <div class="picture">
                                <img src="../assets/shop/videocart.png" alt="">
                            </div>
                            <div class="title-card">
                                GeForce graphics card<br>RTX 3090 24 GB
                            </div>
                            <div class="subtitle-card">
                                High performance, cool<br>
                                design, high-quality cooling
                            </div>
                            <div class="line-price">
                                <div class="price">3 500 $</div>
                                <a class="joistick" href="">
                                    <img src="../assets/shop/joistick.png" alt="">
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="slider-item">
                        <div class="card-content">
                            <div class="picture">
                                <img src="../assets/shop/monitor.png" alt="">
                            </div>
                            <div class="title-card">
                                Gaming monitor<br>Dell Alienware
                            </div>
                            <div class="subtitle-card">
                                Image smoothness, lightning fast<br>
                                matrix response time
                            </div>
                            <div class="line-price">
                                <div class="price">1 400 $</div>
                                <a class="joistick" href="">
                                    <img src="../assets/shop/joistick.png" alt="">
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="slider-item">
                        <div class="card-content">
                            <div class="picture">
                                <img src="../assets/shop/earpods.png" alt="">
                            </div>
                            <div class="title-card">
                                Headphones Razer Kraken<br>Kitty Edition
                            </div>
                            <div class="subtitle-card">
                                Good sound, convenient software,<br>
                                appearance, microphone freely regulates
                            </div>
                            <div class="line-price">
                                <div class="price">300 $</div>
                                <a class="joistick" href="">
                                    <img src="../assets/shop/joistick.png" alt="">
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="slider-item">
                        <div class="card-content">
                            <div class="picture">
                                <img src="../assets/shop/videocart.png" alt="">
                            </div>
                            <div class="title-card">
                                GeForce graphics card<br>RTX 3090 24 GB
                            </div>
                            <div class="subtitle-card">
                                High performance, cool<br>
                                design, high-quality cooling
                            </div>
                            <div class="line-price">
                                <div class="price">3 500 $</div>
                                <a class="joistick" href="">
                                    <img src="../assets/shop/joistick.png" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slider-prev arrow left"></div>
                <div class="slider-next arrow"></div>
            </div>
        </div>
    </main>

</div>
</body>
<script src="../js/shop.js"></script>
</html>